.top__navigator{
    margin: 30px 25px 0px 25px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    color: black;
}
.top__navigator__column:first-child{
    font-size: 30px;
}
.top__navigator__column:nth-child(2){
   font-size: 15px;
   margin-top: 5px;;
}
.top__navigator__column:nth-child(2) i{
    margin-left: 20px;
}
.top__navigator__column  :hover{
    color: var(--main-theme-skyblue);
    transform: scale(1.2);
}

.top__sub__navigator {
    display: flex;
    justify-content: center;
    margin: 20px 20px; 
    padding: 15px 40px;
    background-color: whitesmoke;
}
.top__sub__navigator__icon{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: black;
    margin: 4px 10px;
}