.main__profile{
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
}
.main__profile:hover{
    box-shadow: 0 2px 3px 3px whitesmoke;
}
.main__profile__img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 3px 4px 4px whitesmoke;
    background-color: var(--main-theme-skyblue);
   
}
.main__profile__img:hover{
    transform: scale(1.2);
}

.main__profile__name{
    height: 20px;
    margin-left: 40px;
    margin-top: 23px;
    font-size: 30px;
    background-color: black;
    color: white;
    padding: 5px 20px 10px 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.friends-bar{
    display: flex;
    justify-content: space-between;
    margin: 15px 25px;
    background-color: white;
}
.friends-bar__text{
   display: flex;
   justify-content: flex-start;
}
.friends-bar__text div:nth-child(2){
    margin-left: 10px;
    margin-top: -3px;
}
.friends-bar__text__icon{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: black;
}

.friends__list img {
    width: 60px;
    height: 60px;

}
.friends__list .main__profile {
    margin-top: -10px;
}

.friends__list .main__profile__name{
    box-shadow: none;
    font-size: 20px;
    padding-bottom: 3px;
}